.item-one {
  background-color: $cyan;
}

.item-two {
  background-color: $orange;
}

.item-three {
  background-color: $blue;
}

.lead {
  color: $orange;
}
.display-4 {
  font-size: 4em;
  font-weight: bold;
}
