$blue: #1480f4;
$indigo: #6836b9;
$purple: #240759;
$pink: #f18fc0;
$red: #ea7d88;
$orange: #f49446;
$yellow: #e1ac0d;
$green: #0ecd00f8;
$teal: #08ce93a8;
$cyan: #6fe0f6;

// .btn:hover {
//   color: $blue;
//   font-weight: bold;
//   background-color: $cyan;
//   border-color: $red;
// }
